<div class="container-fluid">

    <h2 class="py-4">Empleados</h2>

    <div class="form-group mb-4">
        <input class="form-control" type="text" [(ngModel)]="filterText" placeholder="Buscar">
    </div>
    <button type="button" class="btn btn-primary mr-2 mb-4" (click)="search()">Buscar</button>
    <button type="button" class="btn btn-success mb-4" (click)="register()">Registrar Empleado</button>

    <div class="table-responsive">
        <table class="table table-striped"
            *ngIf="(employees | filter: filterText).length > 0; else noResults">
            <thead>
                <tr>
                    <th scope="col">Acciones</th>
                    <th scope="col">Primer Nombre</th>
                    <th scope="col">Otros Nombres</th>
                    <th scope="col">Primer Apellido</th>
                    <th scope="col">Segundo Apellido</th>
                    <th scope="col">Tipo de Identificación</th>
                    <th scope="col"># Identificación</th>
                    <th scope="col">País del empleo</th>
                    <th scope="col">Correo electrónico</th>
                    <th scope="col">Estado</th>
                </tr>
            </thead>
            <tbody *ngIf="!loading">
                <tr *ngFor="let employee of employees | slice: (page-1) * pageSize : page * pageSize">
                    <td>
                        <button type="button" class="btn btn-secondary mr-2" (click)="edit(employee)">Editar</button>
                        <button type="button" class="btn btn-danger" (click)="open(content, employee.id)">Eliminar</button>
                    </td>
                    <td>{{employee.primerNombre}}</td>
                    <td>{{employee.otrosNombres}}</td>
                    <td>{{employee.primerApellido}}</td>
                    <td>{{employee.segundoApellido}}</td>
                    <td>{{employee.tipoIdentificacion}}</td>
                    <td>{{employee.numeroIdentificacion}}</td>
                    <td>{{employee.paisEmpleo}}</td>
                    <td>{{employee.correElectronico}}</td>
                    <td>{{employee.estado == '1' ? 'Activo' : 'Inactivo'}}</td>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
            <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="employees.length" [boundaryLinks]="true"></ngb-pagination>
        </div>
        <ng-template #noResults>
            <p>No hay resultados para "{{filterText}}".</p>
        </ng-template>
    </div>
</div>

<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Eliminar Empleado</h4>
	</div>
	<div class="modal-body text-center">
		<h4 class="modal-title mb-4" id="modal-basic-title">Está seguro de que desea eliminar el empleado?</h4>
        <button type="button" class="btn btn-danger mr-2" (click)="delete()">Sí</button>
        <button type="button" class="btn btn-info" (click)="modal.close()">No</button>
	</div>
</ng-template>