<form class="row g-3 m-5" [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <div class="col-md-6">
        <label for="primerApellido" class="form-label">Primer Apellido</label>
        <input class="form-control" formControlName="primerApellido" id="primerApellido" maxlength="20">
        <span *ngIf="
            employeeForm.get('primerApellido')?.errors && 
            employeeForm.get('primerApellido')?.hasError('required')" class="text-danger">Campo obligatorio
        </span>
    </div>
    <div class="col-md-6">
        <label for="segundoApellido" class="form-label">Segundo Apellido</label>
        <input class="form-control" formControlName="segundoApellido" id="segundoApellido" maxlength="20">
        <span *ngIf="
            employeeForm.get('segundoApellido')?.errors && 
            employeeForm.get('segundoApellido')?.hasError('required')" class="text-danger">Campo obligatorio
        </span>
    </div>
    <div class="col-md-6">
        <label for="primerNombre" class="form-label">Primer Nombre</label>
        <input class="form-control" formControlName="primerNombre" id="primerNombre" maxlength="20">
        <span *ngIf="
            employeeForm.get('primerNombre')?.errors && 
            employeeForm.get('primerNombre')?.hasError('required')" class="text-danger">Campo obligatorio
        </span>
    </div>
    <div class="col-md-6">
        <label for="otrosNombres" class="form-label">Otros Nombres</label>
        <input class="form-control" formControlName="otrosNombres" id="otrosNombres" maxlength="50">
    </div>
    <div class="col-md-6">
        <label for="paisEmpleo" class="form-label">País Empleo</label>
        <select class="form-control" formControlName="paisEmpleo" id="paisEmpleo">
            <option *ngFor="let country of countryEnum" [ngValue]="country">
                {{country}}
            </option>
        </select>
    </div>
    <div class="col-md-6">
        <label for="tipoIdentificacion" class="form-label">Tipo Identificación</label>
        <select class="form-control" formControlName="tipoIdentificacion" id="tipoIdentificacion">
            <option *ngFor="let identificationType of identificationTypesEnum" [ngValue]="identificationType">
                {{identificationType}}
            </option>
        </select>
    </div>
    <div class="col-md-6">
        <label for="numeroIdentificacion" class="form-label">Número Identificacion</label>
        <input class="form-control" formControlName="numeroIdentificacion" id="numeroIdentificacion" maxlength="20">
    </div>
    <!--<div class="col-md-6">
        <label for="correElectronico" class="form-label">Corre Electronico</label>
        <input class="form-control" formControlName="correElectronico" id="correElectronico" maxlength="45">
        <span *ngIf="
            employeeForm.get('correElectronico')?.errors && 
            employeeForm.get('correElectronico')?.hasError('email')" class="text-danger">Email invalido
        </span>
    </div>-->
    <div class="col-md-6">
        <label for="fechaIngreso" class="form-label">Fecha Ingreso</label>
        <input class="form-control" type="date" id="fechaIngreso" formControlName="fechaIngreso">
        <span *ngIf="
            employeeForm.get('fechaIngreso')?.errors && 
            employeeForm.get('fechaIngreso')?.hasError('greaterThan')" class="text-danger">Fecha ingreso invalida, debe ser menor a la actual
        </span>
    </div>
    <div class="col-md-6">
        <label for="area" class="form-label">Área</label>
        <select class="form-control" formControlName="area" id="area">
            <option *ngFor="let area of areaEnum" [ngValue]="area">
                {{area}}
            </option>
        </select>
    </div>
    <div class="col-md-6">
        <label for="estado" class="form-label">Estado</label>
        <input readonly value="Activo">
    </div>
    <div class="col-md-6">
        <label for="fechaHoraRegistro" class="form-label">Fecha Hora Registro</label>
        <input class="form-control" type="datetime-local" id="fechaHoraRegistro" formControlName="fechaHoraRegistro">
        
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary mt-4">Registrar</button>
        <button class="btn btn-warning mt-4 ml-2" (click)="goBack()">Volver</button>
    </div>
</form>